services:

  # The Application
  app:
    image: aits_netid_assignment-app
    container_name: aits_netid_assignment-app
    build:
      context: docker
      dockerfile: app.dockerfile
      args:
        - WITH_XDEBUG=${WITH_XDEBUG:-false}
        - XDEBUG_TRIGGER_PROFILER=${XDEBUG_TRIGGER_PROFILER:-false}
        - XDEBUG_PROFILER_DIR=${XDEBUG_PROFILER_DIR:-/var/www/xdebug/profiler}
    working_dir: /var/www
    volumes:
      - ./:/var/www
    environment:
      - "PHP_IDE_CONFIG=${PHP_IDE_CONFIG:-serverName=aits_netid_assignment}"
      - "XDEBUG_CONFIG=${XDEBUG_CONFIG:-'client_host=host.docker.internal client_port=9003'}"
      - "APP_ENVIRONMENT=${APP_ENV:-local}"
      - "CONTAINER_ROLE=app"